<div id="wrapper">
  <div ng-show = "vsebina.smer == 'home'">
    <span id="stats-glpyh">
      <a href="/statistika" class="navadniLinki">
        <span class="glyphicon glyphicon-stats">
        </span>
      </a>
    </span>
  </div>        
  <span ng-show="vsebina.smer != 'home'" id="stats-glpyh" style="visibility:hidden;" class="glyphicon glyphicon-stats"></span>
  <h1 id="layoutNaslov" ng-show="vsebina.smer != 'home'">
    <a id="linkNaslov" href='/'>MojToshl</a>
  </h1>
  <h1 id="layoutNaslov" ng-show="vsebina.smer == 'home'">
    <a id="linkNaslov" href='/home'>MojToshl</a>
  </h1>
  <div ng-show="vsebina.smer == 'home'">
    <span id="search-glpyh"class="glyphicon glyphicon-search">
      <a href="/profil" class="navadniLinki">
        <span id="user-glyph" class="glyphicon glyphicon-user"></span>
      </a>
      <a href="/" ng-click="podatki.odjaviMe()" class="navadniLinki">
        <span id="user-glpyh" style="margin-left:10px;" class="glyphicon glyphicon-log-out"></span>
      </a>
    </span>
  </div>
    <div ng-show="vsebina.smer != 'home'" id="divZaRegistracijoInPrijava">
      <a href="/registracija">registracija</a>
      /
      <a href="/">prijava</a>
    </div>
</div>
<nav id="media" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div ng-show="vsebina.smer == 'home'">
    <button type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="float:left;" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="width:80%;float:left;">
      <a class="navadniLinki" href='/home'>
        <h1 style="float:left;margin-left:10px;">MojToshl</h1>
      </a>
    </div>
    <div id="navbarColor01" style="float:left;" class="collapse navbar-collapse">
      <ul id="navigacija" style="font-size:14px;" class="navbar-nav">
        <li class="nav-item"><a href="/statistika" class="nav-link">Statistika </a></li>
        <li class="nav-item"><a href="/phone" class="nav-link">Računi</a></li>
        <li class="nav-item"><a class="nav-link">Stroški/Prilivi</a></li>
        <li class="nav-item"><a href="/profil" class="nav-link">Uporabniški račun</a></li>
        <li class="nav-item"><a href="/" ng-click="podatki.odjaviMe()" class="nav-link">Odjava</a></li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input type="text" placeholder="Search" class="form-control mr-sm-2"/>
        <button type="submit" class="btn btn-secondary my-2 my-sm-0">Search</button>
      </form>
    </div>
  </div>
  <div ng-show="vsebina.smer != 'home'">
    <button type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="float:left;" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="width:80%;float:left;">
      <a href="/" class="navadniLinki">
        <h1 style="float:left;margin-left:10px;">MojToshl</h1>
      </a>
    </div>
    <div id="navbarColor01" style="float:left;" class="collapse navbar-collapse">
      <ul id="navigacija" class="navbar-nav">
        <li class="nav-item"><a href="/registracija" class="nav-link">Registracija</a></li>
        <li class="nav-item"><a href="/" class="nav-link">Prijava</a></li>
        <li class="nav-item"><a href="/pozabljenoGeslo" class="nav-link">Pozabljeno geslo</a></li>
      </ul>
    </div>
  </div>
</nav>