body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
input{
  color: #000
}
/* index.js */

.border-lb{
  border-left:1px solid;
  border-width: 0 0 1px 1px;
  
}


@media only screen and (min-width:481px){
  
  #media{
    display:none;
  }
  /* layout */
  #linkNaslov{
    text-decoration: none;
    color:white;
  }
  #wrapper{
    border-bottom-style:groove;
    float:left;
    width:100%;
    
  }
  
  #layoutNaslov{
    
    font-size:40px;
    text-align:left;
    float:left;
    width:40%;
    
  }
  #user-glyph{
    text-align:right;
    margin-left:15px;
  }
  #stats-glpyh{
    width:44%;
    font-size:30px;
    float:left;
    margin-top:15px;
  }
  #search-glpyh{
    float:left;
    text-align: right;
    margin-top:15px;
    font-size:30px;
    width:16%;
    
  }
}
/* Vhodne strani */

#divZaRegistracijoInPrijava{
  margin-top:25px;
  float:right;
  font-size:15px;
}
/* boxi */
#boxZaReg{
  width:60%;
  padding-top:30px;
  padding-bottom:30px;
  margin:auto;
}
#boxZaInputeReg{
  margin-left:30px
}
#boxZaInputePri{
  text-align:center;
}
.box{
  width:40%;
  padding-top:30px;
  padding-bottom:30px;
  margin:auto;
}
.wrapperZaGumbe{
  border-top:5px;
  margin:auto;
  width:30%;
  margin-top:20px;
}
.gumbnasredino{
  padding-left:20%;
  padding-right:20%; 
  width:60%;
  text-align: center;
}

.wrapperZaLinke{
  border-top:5px;
  margin:auto;
  width:40%;
  margin-top:20px;
}

/* teksti in inputi */
.tekstiRegistracija{
  width:30%;
  float:left;
  margin-bottom:0px;
  font-family: 'Fira Sans', sans-serif;
}
.tekstiPrijava{
  width:25%;
  float:left;
  margin-bottom:0px;
  margin-top:8px;
  font-family: 'Fira Sans', sans-serif;
}
.inputiPrijava{
  color:grey;
  position:relative;
  width:45%;
  margin-right:120px;
  margin-bottom:5px;
}
.inputiRegistracija{
  color:grey;
  position:relative;
  width:65%;
  margin-right:30px;
  margin-bottom:5px;
}
.wrapperZaVhodneStrani{
  margin-bottom:10;
  
}
.naslovi{
  font-family: 'Fira Sans', sans-serif;
  margin-bottom:10px;
  text-align:center;
  margin-top:100px;
}

/* gumbi */
.gumbEnotni{
  width:70px;
  height:40px;
  font-size:20px;
  margin-right:17px;
  
}
#gumbPocisti{
  font-size:15px;
  
}
#gumbRegistracija{
  width:120px;
  height:40px;
  font-size:15px;
}
#gumbPrijava{
  position: relative;
  width:100px;
  font-size:15px;
  margin: 0 auto;
}
#gumbPonastavi{
 width:100px;
 margin-right:10px;
 font-size:15px;
}

/* notranje strani */

/*index.jade */

/*75% placa*/

#glavniBox{
  margin-top:100px;
  width:100%;
  height:100%;
  text-align:center;
}
.reg{
  float:left;
}
.triCetrtineBox{
  border-right-style:groove;
  width:75%;
  height:100%;
  float:left;
}


#pregledMesecBox{
  width:100%;
  margin-bottom: 10px;
  
}

#levo{
  float:left;
  margin-left:45%;
  margin-right:5px;
}
#progressBar{
  width:98%;
  height:25px;
  margin-right:5px;
  margin-left:5px;
}

.box-gumbi-stroski-prelivi{
  width:50%;
  float:left;
  text-align:center;
  margin-bottom:10px;
  
}
.gumbi-stroski-prelivi{
  width:120px;
}
.karticeBorder{
  width:50%;
  border-style:groove;
  display:none;
  visibility:hidden;
  float:left;
}
.kartica{
  width:50%;
  border-style:groove;
  float:left;
  margin-bottom:20px;
  
  
}
.kartica2{
  width:20%;
  border-style:groove;
  float:left;
  margin-bottom:20px;
}
.forma-Stroski{
  float:left;
  width:100%;
}
.drugiFormGroup{
  width:49%;
  float:left;
}
.prviFormGroup{
  width:50%;
  float:left;
}
.drugaFormaDropdown{
  height:100%;
  padding-bottom: 20%;
}

.drugaFormaDodatek{
  margin-right:5px;
}
.zaAlignText{
  text-align: center;
}

.controlaOption{
  height:30px;
}


.checkBoxi{
  float:left;
  margin-left:10px;
  
}
select{ padding-bottom:5px;}

.gumbiZaSubmit{
  width:120;
  margin-bottom:5px;
}

/*modal*/
#urejanje{
  display:none;
}
.delitevBoxa{
  width:22%;
  float:left;
  margin-right:10px;
}
.delitevBoxaEnkratni{
  width:30%;
  float:left;
  margin-right:10px;
}
.delitevBoxaMesecni{
  width:45%;
  float:left;
  margin-right:10px;
}
.delitevBoxaRacuni{
  width:45%;
  float:left;
  margin-right:10px;
}
/*tabela Stroskov In Priljivov */
#boxZaTabelo{
  width:99%;
  height:90%;
  float:left;
}

/*25% placa */
.boxZaCetrtino{
  width:25%;
  height:100%;
  float:left;
}
.buttonZaRacune{
  width:170px;
  margin-left:50px;
  margin-bottom:5px;
}

/*  fonti ali pisave  */

.marginLeftZaRacun{
  margin-left:5px;
}
.marginBottomDvajset{
  margin-bottom:20px;
}

.stilTekstaTabele{
  text-align: center;
  color:orange;
  font-size:12.5px;
}
.stilTekstaZaBody{
  font-size:12.5px;
  text-align:center;
  
}
.pZaForme{
  float:left;
  margin-top:3px;
}
#colorZaRacune{
  background-color:#87cefa;
}
#modalHeaderColor{
  background-color:#ee7600;
}
#mesecPisava{
  float:left;
  margin-right:5px;
}
.mesecButtoni{
  font-size:15px;
  float:left;
}


#fo{
 font-family: 'Fira Sans', sans-serif;
}
.navadniLinki{
  color:white;
  text-decoration:none;
}
.btn-media{
  width:40%;
  margin-right:5px;
}
#racunBlock{
  margin-left:10px;
}

/*Statistika*/

#statistikaWrapper{
  margin-top:100px;
  width:100%;
  height:100%;
}
#statistikaChartWrapper{
  position: relative;
  margin-left:20%;
  width:60%;
  margin-bottom:50px
}
#statistikaProgressBarWrapper{
  height:25px;
  margin-right:5px;
  margin-left:5px;
}
#statistikaTableCiljiWrapper{
    margin-left:5px;
    margin-right:5px;
}
#statistikaDodajCiljButtonWrapper{
  float:left;
  text-align:center;
  width:100%;
  margin-bottom:20px
}
#ciljBlock{
  margin-left:20%;
  margin-right:20%;
  width:60%;
}

#pozabljenoGesloButtonPonastavi{
  margin-top:5px;
  font-size: 16px;
}
/*pozabljeno geslo*/
#pozabljenoGesloH1{
  margin-bottom:10px;
}
#pozabljenoGesloEmailLabel{
  font-size:16px;
  margin-top:15px
}

/* Telefoni */
#labelProfil{
  font-size:16px;
  margin-top:15px;
  margin-left:6.5%;
}
#labelProfilDrugi{
  font-size:16px;
  margin-top:15px;
  margin-left:6.5%;
}
@media handheld and (max-width: 767px),
        screen and (max-device-width: 767px),
        screen and (max-width: 767px) {
  
  .zaDataPoravnava{
    float:left;
    width:100%;
  }
  .zaBoxeData{
    margin-left:35%;
    float:none;
    width:100%;
  }
  #labelProfil{
    
    margin-left:15.5%;
  }
  
  #wrapper{
    display:none; 
  }
  #media{
    display:block;
    width:100%;
  }
  .stilTekstaZaBody{
    font-size:6px;
  }
  .stilTekstaTabele{
    font-size:6px;
  }
  .boxZaCetrtino{
    display:none;
  }
  .triCetrtineBox{
    width:100%;
    border-style:none;
  }
  .kolicinaMedia{
    width:100%;
    margin-right:0px;
    margin-left:0px;
    
  }
  #pregledMesecBox{
    
  }
  #glavniBox{
    width:100%;
  }
  body{
    padding:0;
  }
  .btn-media{
    width:45%;
    margin-right:2px;
    margin-left:0px;
    margin-bottom:5px;
  }
  
  #levo{
    margin-left:35%;
  }
  #glavniBox{
    width:100%;
    margin-top:35px;
    
    
  }
  #boxZaTabelo{
    width:100%;
  }
  #navigacija li{
    display:inline;
  }
  .boxNov{
    margin-top:20px;
  }
  
  
  /*statistika*/
  #statistikaWrapper{
    margin-top:5px;
    width:100%;
    height:100%;
  }
  #statistikaChartWrapper{
    position: relative;
    margin-left:1%;
    width:98%;
    margin-bottom:5px
  }
  #statistikaProgressBarWrapper{
    height:25px;
    margin-right:1%;
    margin-left:1%;
  }
  #statistikaTableCiljiWrapper{
    margin-left:1%;
    width:98%;
  }
  #ciljBlock{
    margin-left:1%;
    margin-right:1%;
    width:98%;
  }
  
  /*pozabljeno geslo*/
  .naslovi{
    font-family: 'Fira Sans', sans-serif;
    text-align:center;
    margin-top:50px;
  }
}
