<navigacija vsebina="glava"></navigacija>

<div id="glavniBox">
  <div class="triCetrtineBox">

    <!--pregled mesec-->
    <div id="pregledMesecBox" class="kolicinaMedia">
      <button id="levo" ng-click="glava.levo()" class="btn btn-secondary mesecButtoni"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <h1 id="mesecPisava">{{glava.prikaziMesec}}</h1>
      <button ng-show='glava.trenutniMesec != glava.mesec' ng-click="glava.desno()" class="btn btn-secondary mesecButtoni"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    
    
    <!--progress bar-->
    <div id="progressBar" class="progress kolicinaMedia">
      <div id="barMesecniStroski" role="progressbar" style="width:25%" name="0" title="Mesečni stroški: " class="progress-bar progress-bar-striped bg-info"> </div>
      <div id="barEnkratniStroski" role="progressbar" style="width:25%" name="0" title="Enkratni stroški: " class="progress-bar progress-bar-striped"> </div>
      <div id="barStanje" role="progressbar" style="width:25%" name="0" title="Trenutno stanje: " class="progress-bar progress-bar-striped bg-success"> </div>
      <div id="barVarcevanje" role="progressbar" style="width:25%" name="0" title="Varčevalni cilji: " class="progress-bar progress-bar-striped bg-danger"></div>
    </div>
    
    <div class="box-gumbi-stroski-prelivi">
      <button ng-click="glava.dodajStrosek()" class="btn btn-danger gumbi-stroski-prelivi">dodaj strošek</button>
    </div>
    <div class="box-gumbi-stroski-prelivi">
      <button ng-click="glava.dodajPriliv()" class="btn btn-success gumbi-stroski-prelivi">dodaj priliv</button>
    </div>
    
    <!--dropdown za dodajanje stroskov in prelivov-->
    <!--dodajanje stroskov-->
    
    
    <div id="incaseBlock" style="display:none" class="karticeBorder"></div>
    <div id="strosekBlock" style="display:none" class="card kartica">
      <h3 class="card-header bg-danger">Dodajanje stroškov</h3>
      <div class="card-body">
        <form id="strosekForm" ng-submit='glava.posiljanjeStroska()' method="post">
          <div class="form-group forma-Stroski">
            <label for="imeStroska" class="col-form-label">Ime stroška</label>
            <input type="text" id="imeStroska" name="imeStroska" required="required" ng-model='glava.podatkiStroska.ime' class="form-control"/>
          </div>
          <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
            <label class="control-label">Količina</label>
            <div class="form-group">
              <label for="kolicinaStroska" class="sr-only">Količina (in euros)</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <input type="text" id="kolicinaStroska" name="kolicinaStroska" ng-model='glava.podatkiStroska.kolicina' placeholder="Količina" required="required" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="form-group drugiFormGroup">
            <label for="strosekIzRacuna">Iz računa</label>
            <select id="strosekIzRacuna" name="strosekIzRacuna" style="margin-bottom:20px;" ng-model='glava.podatkiStroska.racun' class="form-control controlaOption">
              <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option> 
            </select>
          </div>
          <div class="form-check prviFormGroup">
            <label class="form-check-label">
              <p class="pZaForme">Mesečni</p>
              <input type="checkbox" id="checkboxMesecni" name="checkboxMesecni" ng-model='glava.podatkiStroska.mesecni' onChange="mesecniClick(this.id)" class="form-check-input checkBoxi"/>
            </label>
          </div>
          <div class="form-check prviFormGroup">
            <label class="form-check-label">
              <p class="pZaForme">Enkratni</p>
              <input type="checkbox" id="checkboxEnkratni" name="checkboxEnkratni" ng-model='glava.podatkiStroska.enkratni' onChange="enkratniClick(this.id)" class="form-check-input checkBoxi"/>
            </label>
          </div>
          <div hidden="hidden" class="form-group forma-Stroski">
            <label for="datumStroska" class="col-form-label">Datum stroška</label>
            <input type="date" id="datumStroska" disabled="true" placeholder="01-01-2017" class="form-control"/>
          </div>
          <div class="forma-Stroski zaAlignText">
            <button type="submit" onClick="submitStrosek()" class="btn btn-danger gumbiZaSubmit">Potrdi</button>
          </div>
        </form>
      </div>
    </div>  
    
   
    <!-- dodajanje prilivov -->
    <div id="prelivBlock" style="display:none" class="card kartica">
      <h3 class="card-header bg-success">Dodajanje Prilivov</h3>
      <div class="card-body">
        <form id="dodajanjePrilivaForm" ng-submit='glava.posiljanjePriliva()' method="post">
          <div class="form-group forma-Stroski">
            <label for="imePreliva" class="col-form-label">Ime priliva</label>
            <input type="text" id="imePreliva" name="imePreliva" ng-model='glava.podatkiPriliva.ime' class="form-control"/>
          </div>
          <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
            <label class="control-label">Količina</label>
            <div class="form-group">
              <label for="kolicinaPreliva" class="sr-only">Količina (in euros)</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <input type="text" id="kolicinaPreliva" placeholder="Količina" ng-model='glava.podatkiPriliva.kolicina' name="kolicinaPreliva" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="form-group drugiFormGroup">
            <label for="racunPreliva">Na račun</label>
            <div class="input-group">
              <select id="racunPreliva" name="racunPreliva" style="margin-bottom:20px;" ng-model='glava.podatkiPriliva.racun' class="form-control controlaOption">
                <option ng-repeat='racun in glava.racuni' class='drugaFormaDropdown' value="{{racun._id}}" style='margin:20px;'>{{racun.naziv}}</option>
              </select>
            </div>
          </div>
          <div class="form-check prviFormGroup">
            <label class="form-check-label">
              <p class="pZaForme">Mesečni</p>
              <input type="checkbox" id="mesecniPreliv" onChange="mesecniClick(this.id)" ng-model='glava.podatkiPriliva.mesecni' name="mesecniPreliv" class="form-check-input checkBoxi"/>
            </label>
          </div>
          <div class="form-check prviFormGroup">
            <label class="form-check-label">
              <p class="pZaForme">Enkratni</p>
              <input type="checkbox" id="enkratniPreliv" onChange="enkratniClick(this.id)" name="enkratniPreliv" ng-model='glava.podatkiPriliva.enkratni' class="form-check-input checkBoxi"/>
            </label>
          </div>
          <div hidden="hidden" class="form-group forma-Stroski">
            <label for="datumPreliva" class="col-form-label">Datum priliva</label>
            <input type="date" id="datumPreliva" disabled="true" name="datumPreliva" placeholder="01-01-2017" class="form-control"/>
          </div>
          <div class="forma-Stroski zaAlignText">
            <button type="submit" onClick="submitPreljiv()" class="btn btn-success gumbiZaSubmit">Potrdi</button>
          </div>
        </form>
      </div>
    </div>
    
      
    
      
    <!-- tabela stroškov in prelivov  -->
    <div id="boxZaTabelo">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="stilTekstaTabele">
            <th>Ime</th>
            <th>Strošek/Priliv</th>
            <th>Račun</th>
            <th>Količina(€)</th>
            <th>Datum/enota(datum/€)</th>
            <th>Uredi/Briši/Dodaj enoto</th>
          </tr>
        </thead>
        <tbody id="bodyOfStroski" class="stilTekstaZaBody">
          <tr ng-repeat="enkratniStrosek in glava.kolekcijaEnkratniStroski | filterDatuma" ng-show='enkratniStrosek.visible != false' id="{{enkratniStrosek._id}}">
            <td>{{enkratniStrosek.naziv}}</td>
            <td>Strošek</td>
            <td value='{{enkratniStrosek.racun}}'>
              <strong ng-repeat="rac in glava.racuni" ng-show='rac._id == enkratniStrosek.racun'>{{rac.naziv}}</strong>
            </td>
            <td>{{enkratniStrosek.kolicina}}</td>
            <td style='text-align:center'>
              <input type='text',style='text-align:center;' value='{{enkratniStrosek.zadnjiVnosKolicina}}'>
            </td>
            <td ng-show='glava.mesec == glava.trenutniMesec'>
              <button class='btn btn-info btn-media' id='{{enkratniStrosek._id}}1' ng-click='glava.dodajEnoto(enkratniStrosek._id)'>+1</button>
              <button class='btn btn-primary btn-media' id='{{enkratniStrosek._id}}1' onClick='showModalEnkratni(this.id)'>Uredi</button>
            </td>
            <td ng-show='glava.mesec != glava.trenutniMesec'>
              <button class='btn btn-info btn-media' id='{{enkratniStrosek._id}}1' ng-click='glava.dodajEnoto(enkratniStrosek._id)' disabled>+1</button>
              <button class='btn btn-primary btn-media' id='{{enkratniStrosek._id}}1' onClick='showModalEnkratni(this.id)' disabled>Uredi</button>
            </td>
          </tr>
          <tr ng-repeat='mesecniStrosek in glava.kolekcijaMesecniStroski | filterDatuma' ng-show='mesecniStrosek.visible != false' id='{{mesecniStrosek._id}}'>
            <td>{{mesecniStrosek.naziv}}</td>
            <td>Strošek</td>
            <td value='{{mesecniStrosek.racun}}'>
              <strong ng-repeat="rac in glava.racuni" ng-show='rac._id == mesecniStrosek.racun'>{{rac.naziv}}</strong>
            </td>
            <td>{{mesecniStrosek.kolicina}}</td>
            <td>{{mesecniStrosek.odlivi[0].datum}}</td>
            <td ng-show="mesecniStrosek.odlivi[0].datum == 'Nepotrjeno'">
              <button class="btn btn-primary btn-media" id="mesecniStrosek._id"+"1" onClick="showModal(this.id)" ng-show="glava.mesec == glava.trenutniMesec">Potrdi</button>
              <button class="btn btn-danger btn-media" id="{{mesecniStrosek._id}}2" ng-click="glava.brisiMesecni(mesecniStrosek._id)" ng-show="glava.mesec == glava.trenutniMesec">Ne potrdi</button>
              <button class="btn btn-primary btn-media" id="mesecniStrosek._id"+"1" onClick="showModal(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Potrdi</button>
              <button class="btn btn-danger btn-media" id="mesecniStrosek._id"+"2" onClick="brisiMesecni(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Ne potrdi</button>
            </td>
            <td ng-show="mesecniStrosek.odlivi[0].datum != 'Nepotrjeno'">
              <button class="btn btn-primary btn-media" id="{{mesecniStrosek._id}}1" ng-click="glava.showMesecniModal(mesecniStrosek._id)" ng-show="glava.mesec == glava.trenutniMesec">Uredi</button>
              <button class="btn btn-danger btn-media" id="{{mesecniStrosek._id}}2" ng-click="glava.brisiMesecni(mesecniStrosek._id)" ng-show="glava.mesec == glava.trenutniMesec">X</button>
              <button class="btn btn-primary btn-media" id="mesecniStrosek._id"+"1" onClick="showModal(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Uredi</button>
              <button class="btn btn-danger btn-media" id="mesecniStrosek._id"+"2" onClick="brisiMesecni(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>X</button>
            </td>
          </tr>
          <tr ng-repeat="enkratniPrilivi in glava.kolekcijaEnkratniPrilivi | filterDatumaPriliv" ng-show='enkratniPrilivi.visible != false' id="{{enkratniPrilivi._id}}">
            <td>{{enkratniPrilivi.naziv}}</td>
            <td>Priliv</td>
            <td value='enkratniPrilivi.racun'>
              <strong ng-repeat="rac in glava.racuni" ng-show='rac._id == enkratniPrilivi.racun'>{{rac.naziv}}</strong>
            </td>
            <td>{{enkratniPrilivi.kolicina}}</td>
            <td>{{enkratniPrilivi.datum}}</td>
            <td ng-show="glava.mesec == glava.trenutniMesec">
              <button class="btn btn-primary btn-media" id="{{enkratniPrilivi._id}}1" onClick="showModalEnkratni(this.id)">Uredi</button>
              <button class="btn btn-danger btn-media" id="{{enkratniPrilivi._id}}2" ng-click="glava.brisiEnkratni(enkratniPrilivi._id)">X</button>
            </td>  
            <td ng-show="glava.mesec != glava.trenutniMesec">
              <button class="btn btn-primary btn-media" id="{{enkratniPrilivi._id}}1" onClick="showModalEnkratni(this.id)" disabled>Uredi</button>
              <button class="btn btn-danger btn-media" id="{{enkratniPrilivi._id}}2" onClick="brisiEnkratni(this.id)" disabled>X</button>
            </td>
          </tr>
          <tr ng-repeat="mesecniPriliv in glava.kolekcijaMesecniPrilivi | filterDatumaPriliv" ng-show='mesecniPriliv.visible != false' id="{{mesecniPriliv._id}}">
            <td>{{mesecniPriliv.naziv}}</td>
            <td>Priliv</td>
            <td value='mesecniPriliv.racun'>
              <strong ng-repeat="rac in glava.racuni" ng-show='rac._id == mesecniPriliv.racun'>{{rac.naziv}}</strong>
            </td>
            <td>{{mesecniPriliv.kolicina}}</td>
            <td>{{mesecniPriliv.prilivi[0].datum}}</td>
            <td ng-show="mesecniPriliv.prilivi[0].datum == 'Nepotrjeno'">
              <button class="btn btn-primary btn-media" id="{{mesecniPriliv._id}}1" onClick="showModal(this.id)" ng-show="glava.mesec == glava.trenutniMesec">Potrdi</button>
              <button class="btn btn-danger btn-media" id="{{mesecniPriliv._id}}2" ng-click="glava.brisiMesecni(mesecniPriliv._id)" ng-show="glava.mesec == glava.trenutniMesec">Ne Potrdi</button>
              <button class="btn btn-primary btn-media" id="mesecniPriliv._id"+"1" onClick="showModal(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Potrdi</button>
              <button class="btn btn-danger btn-media" id="mesecniPriliv._id"+"2" onClick="brisiMesecni(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Ne Potrdi</button>
            </td>
            <td ng-show="mesecniPriliv.prilivi[0].datum != 'Nepotrjeno'">
              <button class="btn btn-primary btn-media" id="{{mesecniPriliv._id}}1" ng-click="glava.showMesecniModal(mesecniPriliv._id)" ng-show="glava.mesec == glava.trenutniMesec">Uredi</button>
              <button class="btn btn-danger btn-media" id="{{mesecniPriliv._id}}2" ng-click="glava.brisiMesecni(mesecniPriliv._id)" ng-show="glava.mesec == glava.trenutniMesec">X</button>
              <button class="btn btn-primary btn-media" id="mesecniPriliv._id"+"1" onClick="showModal(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>Uredi</button>
              <button class="btn btn-danger btn-media" id="mesecniPriliv._id"+"2" onClick="brisiMesecni(this.id)" ng-show="glava.mesec != glava.trenutniMesec" disabled>X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>  
  
  <div class="boxZaCetrtino">
    <h1 class="marginLeftZaRacun">Računi</h1>
    <!--tabela racunov-->
    
    <div class="forma-Stroski marginLeftZaRacun marginBottomDvajset">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="stilTekstaTabele">
            <th>Ime računa</th>
            <th>Stanje (€)</th>
            <th>Uredi/Briši</th>
          </tr>
        </thead>
        <tbody id="bodyOfRacuni" class="stilTekstaZaBody" ng-repeat="racun in glava.racuni">
          <tr id="{{racun._id}}">
            <td>{{racun.naziv}}</td>
            <td>{{racun.stanje}}</td>
            <td>
              <button class="btn btn-primary" id="{{racun._id}}1" style="margin-right:5px;margin-top:5px;" ng-click="glava.showMesecniModal(racun._id)">Uredi</button>
              <button class="btn btn-danger" id="{{racun._id}}2" style="margin-top:5px;" ng-click="glava.brisiMesecni(racun._id)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- dodajanje racunov-->
    <div class="forma-Stroski zaAlignText">
      <button ng-click="glava.dodajRacun()" class="btn btn-info buttonZaRacune marginLeftZaRacun">Dodaj račun</button>
    </div>
    <div id="racunBlock" style="display:none" class="card kartica forma-Stroski drugaFormaDodatek">
      <h3 id="colorZaRacune" class="card-header">Dodajanje Računov</h3>
      <form id="dodajanjeRacunovForm" ng-submit='glava.posiljanjeRacuna()' method="post">
        <div class="card-body">
          <div class="form-group forma-Stroski">
            <label for="imeRacuna" class="col-form-label">Ime računa</label>
            <input type="text" id="imeRacuna" name="imeRacuna" required="required" ng-model='glava.podatkiRacuna.naziv' class="form-control"/>
          </div>
          <div class="form-group forma-Stroski drugaFormaDodatek">
            <label class="control-label">Začetno stanje</label>
            <div class="form-group">
              <label for="zacetnoStanje" class="sr-only">Količina (in euros)</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <input type="text" id="zacetnoStanje" name="zacetnoStanje" placeholder="Količina" ng-model='glava.podatkiRacuna.stanje' required="required" class="form-control"/>
              </div>
            </div>
            <div class="forma-Stroski zaAlignText">
              <button type="submit" onClick="submitRacun()" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id='cilji' hidden='hidden'>
      <div ng-repeat="ciljObdobj in ciljObdobje">
        <div value="ciljObdobj.skupno",hidden></div>
      </div>
      <div ng-repeat="ciljMesec in ciljMesecni">
        <div value="ciljMesec.mesecniOdliv",hidden></div>
      </div>
    </div>
    
  </div>
  
  <!-- POPUPS!! -->  
  
  <div id="urejanjeMesecniStrosek" ng-model='glava.urejanjeMesecniStrosek' style="display:none;" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Urejanje</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" ng-click="glava.showMesecniModal(&quot;Strosek&quot;)" class="close">X</button>
      </div>
      <form id="spremeniMesecniStrosek"  name="placeholder" ng-submit="glava.urediMesecni('Stroski')" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxaMesecni">
                <label for="urejanjeRacunovMesecniStrosek" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovMesecniStrosek" name="urejanjeRacunovMesecniStrosek" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>  
              </div>
              <div class="delitevBoxaMesecni">
                <label for="urejanjeImeMesecniStrosek" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeMesecniStrosek" name="urejanjeImeMesecniStrosek" class="form-control"/>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="urejanjeKolicinaMesecniStrosek" class="col-form-label">Količina</label>
                <div class="input-group forma-Stroski">
                  <div class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaMesecniStrosek" name="urejanjeKolicinaMesecniStrosek" placeholder="Količina" class="form-control"/>
                </div>
              </div>
              <div style="margin-right:0px;" hidden="hidden" class="delitevBoxa">
                <label for="datumStroskaModalMesecniStrosek" hidden="hidden" class="col-form-label">Datum </label>
                <input type="date" id="datumStroskaModalMesecniStrosek" name="datumStroskaModalMesecniStrosek" value="2017-01-01" hidden="hidden" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="shraniSpremembeUreditveMesecniStrosek" class="btn btn-primary">Shrani spremembe</button>
            <button type="button" data-dismiss="modal" ng-click="glava.showMesecniModal('Strosek')" class="btn btn-secondary">Zapri</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeMesecniPrilivi" ng-model='glava.urejanjeMesecniPriliv' style="display:none;" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Urejanje</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" ng-click="glava.showMesecniModal('Priliv')" class="close">X</button>
      </div>
      <form id="spremeniMesecniPriliv" name="placeholder" ng-submit="glava.urediMesecni('Priliv')" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxaMesecni">
                <label for="urejanjeRacunovMesecniPrilivi" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovMesecniPrilivi" name="urejanjeRacunovMesecniPrilivi" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>
              </div>
              <div class="delitevBoxaMesecni">
                <label for="urejanjeImeMesecniPrilivi" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeMesecniPrilivi" name="urejanjeImeMesecniPrilivi" class="form-control"/>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="urejanjeKolicinaMesecniPrilivi" hidden="hidden" class="col-form-label">Količina</label>
                <div class="input-group forma-Stroski">
                  <div hidden="hidden" class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaMesecniPrilivi" name="urejanjeKolicinaMesecniPrilivi" placeholder="Količina" hidden="hidden" class="form-control"/>
                </div>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="datumStroskaModalMesecniPrilivi" hidden="hidden" class="col-form-label">Datum</label>
                <input type="date" id="datumStroskaModalMesecniPrilivi" name="datumStroskaModalMesecniPrilivi" value="2017-01-01" hidden="hidden" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="shraniSpremembeUreditveMesecniPrilivi" type="submit" class="btn btn-primary">Shrani spremembe</button>
            <button type="button" data-dismiss="modal" ng-click="glava.showMesecniModal('Priliv')" class="btn btn-secondary">Zapri</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeEnkratnihStroski" style="display:none" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Urejanje enkratnih priljivov/stroškov</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" onClick="showModalEnkratni(&quot;Stroski&quot;)" class="close">X</button>
      </div>
      <form id="spremeniEnkratniStroski" name="placeholder" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxaEnkratni">
                <label for="urejanjeRacunovEnkratniStroski" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovEnkratniStroski" name="urejanjeRacunovEnkratniStroski" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>
              </div>
              <div class="delitevBoxaEnkratni">
                <label for="urejanjeImeEnkratniStroski" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeEnkratniStroski" name="urejanjeImeEnkratniStroski" class="form-control"/>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="urejanjeKolicinaEnkratniStroski" hidden="hidden" class="col-form-label">Količina</label>
                <div hidden="hidden" class="input-group forma-Stroski">
                  <div hidden="hidden" class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaEnkratniStroski" name="urejanjeKolicinaEnkratniStroski" placeholder="Količina" hidden="hidden" class="form-control"/>
                </div>
              </div>
              <div class="delitevBoxaEnkratni">
                <label for="datumStroskaModalEnkratniStroski" class="col-form-label">Enota</label>
                <input type="text" id="datumStroskaModalEnkratniStroski" name="datumStroskaModalEnkratniStroski" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="shraniSpremembeUreditveEnkratnihStroski" class="btn btn-primary">Shrani spremembe</button>
            <button type="button" id="gumbZaBrisanjeEnkratnihStroski" class="btn btn-danger">Brisi</button>
            <button type="button" data-dismiss="modal" onClick="showModalEnkratni(&quot;Stroski&quot;)" class="btn btn-secondary">Zapri      </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeEnkratnihPrilivi" style="display:none" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Urejanje enkratnih priljivov/stroškov</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" onClick="showModalEnkratni(Prilivi)" class="close">X</button>
      </div>
      <form id="spremeniEnkratniPriliv" name="placeholder" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxaMesecni">
                <label for="urejanjeRacunovEnkratniPrilivi" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovEnkratniPrilivi" name="urejanjeRacunovEnkratniPrilivi" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>
              </div>
              <div class="delitevBoxaMesecni">
                <label for="urejanjeImeEnkratniPrilivi" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeEnkratniPrilivi" name="urejanjeImeEnkratniPrilivi" class="form-control"/>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="urejanjeKolicinaEnkratniPrilivi" class="col-form-label">Količina</label>
                <div class="input-group forma-Stroski">
                  <div class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaEnkratniPrilivi" name="urejanjeKolicinaEnkratniPrilivi" placeholder="Količina" hidden="hidden" class="form-control"/>
                </div>
              </div>
              <div hidden="hidden" class="delitevBoxa">
                <label for="datumStroskaModalEnkratniPrilivi" class="col-form-label">Datum</label>
                <input type="text" id="datumStroskaModalEnkratniPrilivi" name="datumStroskaModalEnkratniPrilivi" hidden="hidden" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="shraniSpremembeUreditveEnkratnihPrilivi" class="btn btn-primary">Shrani spremembe</button>
            <button type="button" id="gumbZaBrisanjeEnkratnihPrilivi" class="btn btn-danger">Brisi</button>
            <button type="button" data-dismiss="modal" ng-click="glava.showMesecniModal('Racun')" class="btn btn-secondary">Zapri                </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeRacunov" ng-model='glava.urejanjeRacunov' style="display:none" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Urejanje računov</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" ng-click="glava.showMesecniModal('Racun')" class="close">X</button>
      </div>
      <form id="spremeniRacun" name="placeholder" ng-submit="glava.urediMesecni('Racun')" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxaRacuni">
                <label for="urejanjeImeRacunov" class="col-form-label">Ime računa</label>
                <input type="text" id="urejanjeImeRacunov" name="urejanjeImeRacunov" required="required" class="form-control"/>
              </div>
              <div class="delitevBoxaRacuni">
                <label for="urejanjeKolicinaRacunov" class="col-form-label">Stanje na računu</label>
                <div class="input-group forma-Stroski">
                  <div class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaRacunov" name="urejanjeKolicinaRacunov" placeholder="Količina" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="shraniSpremembeUreditveRacuni" class="btn btn-primary">Shrani</button>
            <button type="button" data-dismiss="modal" ng-click="glava.showMesecniModal('Racun')" class="btn btn-secondary">Zapri</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeMesecniStrosekPotrdi" style="display:none;" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Potrdi strošek</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" onClick="showModal(&quot;StrosekPotrdi&quot;)" class="close">X</button>
      </div>
      <form id="spremeniMesecniStrosekPotrdi" action="/" name="placeholder" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxa">
                <label for="urejanjeRacunovMesecniStrosekPotrdi" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovMesecniStrosekPotrdi" name="urejanjeRacunovMesecniStrosekPotrdi" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>
              </div>
              <div class="delitevBoxa">
                <label for="urejanjeImeMesecniStrosekPotrdi" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeMesecniStrosekPotrdi" name="urejanjeImeMesecniStrosekPotrdi" class="form-control"/>
              </div>
              <div class="delitevBoxa">
                <label for="urejanjeKolicinaMesecniStrosekPotrdi" class="col-form-label">Količina</label>
                <div class="input-group forma-Stroski">
                  <div class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaMesecniStrosekPotrdi" name="urejanjeKolicinaMesecniStrosekPotrdi" placeholder="Količina" class="form-control"/>
                </div>
              </div>
              <div style="margin-right:0px;" class="delitevBoxa">
                <label for="datumStroskaModalMesecniStrosekPotrdi" class="col-form-label">Datum </label>
                <input type="date" id="datumStroskaModalMesecniStrosekPotrdi" name="datumStroskaModalMesecniStrosekPotrdi" value="2017-01-01" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="shraniSpremembeUreditveMesecniStrosekPotrdi" class="btn btn-primary">Potrdi</button>
            <button type="button" data-dismiss="modal" onClick="showModal(&quot;StrosekPotrdi&quot;)" class="btn btn-secondary">Zapri</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="urejanjeMesecniPriliviPotrdi" style="display:none;" class="modal">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div id="modalHeaderColor" class="modal-header">
        <h5 class="modal-title">Potrdi priliv</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" onClick="showModal(&quot;PriliviPotrdi&quot;)" class="close">X</button>
      </div>
      <form id="spremeniMesecniPrilivPotrdi" action="/" name="placeholder" method="post">
        <div>
          <div class="modal-body">
            <div class="forma-Stroski">
              <div class="delitevBoxa">
                <label for="urejanjeRacunovMesecniPriliviPotrdi" class="col-form-label">Računa</label>
                <select id="urejanjeRacunovMesecniPriliviPotrdi" name="urejanjeRacunovMesecniPriliviPotrdi" class="form-control controlaOption">
                  <option ng-repeat='racun in glava.racuni' value="{{racun._id}}">{{racun.naziv}}</option>
                </select>
              </div>
              <div class="delitevBoxa">
                <label for="urejanjeImeMesecniPriliviPotrdi" class="col-form-label">Ime priliva/stroska</label>
                <input type="text" id="urejanjeImeMesecniPriliviPotrdi" name="urejanjeImeMesecniPriliviPotrdi" class="form-control"/>
              </div>
              <div class="delitevBoxa">
                <label for="urejanjeKolicinaMesecniPriliviPotrdi" class="col-form-label">Količina</label>
                <div class="input-group forma-Stroski">
                  <div class="input-group-addon">€</div>
                  <input type="text" id="urejanjeKolicinaMesecniPriliviPotrdi" name="urejanjeKolicinaMesecniPriliviPotrdi" placeholder="Količina" class="form-control"/>
                </div>
              </div>
              <div class="delitevBoxa">
                <label for="datumStroskaModalMesecniPriliviPotrdi" class="col-form-label">Datum</label>
                <input type="date" id="datumStroskaModalMesecniPriliviPotrdi" name="datumStroskaModalMesecniPriliviPotrdi" value="2017-01-01" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button id="shraniSpremembeUreditveMesecniPriliviPotrdi" type="submit" class="btn btn-primary">Potrdi</button>
            <button type="button" data-dismiss="modal" onClick="showModal(&quot;PriliviPotrdi&quot;)" class="btn btn-secondary">Zapri</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>