<navigacija vsebina="podatki"></navigacija>
<div class="naslovi">
  <h1 style="margin-bottom:10px;">----Uporabniški Profil----</h1>
</div>
<form id="posodobitevUporabnika" ng-submit='podatki.posiljanjeUporabnika()' role='form' method="post" ng-controller='profilCtrl'>
  <div style="text-align:center">
    <table style="margin-left: auto;margin-right: auto;">
      <tbody>
        <tr>
          <td style="text-align:right;padding-right:10px;">
            <label style="font-size:16px;">e-mail:</label>
          </td>
          <td style="padding-bottom:5px">
            <input style="font-size:16px;" type="email" id="uporabnikEmail" ng-model='podatki.email' name="uporabnikEmail" required="required" ></input>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;padding-right:10ox;">
            <label style="font-size:16px;">Ime:</label>
          </td>
          <td style="padding-bottom:5px;">
            <input style="font-size:16px;" type="text" id="uporabnikIme" ng-model='podatki.ime' name="uporabnikIme" required="required" value='{{podatki.ime}}'></input>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;padding-right:10px;">
            <label style="font-size:16px;">Priimek:</label>
          </td>
          <td style="padding-bottom:5px;">
            <input style="font-size:16px;" type="text" ng-model='podatki.priimek' id="uporabnikPriimek" name="uporabnikPriimek" required="required" placeholder='{{podatki.priimek}}' value='{{podatki.priimek}}'></input>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin-left:3%;">
      <button type="submit" value="Potrdi" id="potrdiMe" style="font-size:16px;margin-right:10px;" class="btn btn-success">Potrditev</button>
      <button type="button" value="Zbriši račun" ng-click="podatki.pobrisiUporabnika()" style="font-size:16px;" class="btn btn-danger">Zbriši račun</button>
    </div>
  </div>
</form>