<navigacija vsebina="glava"></navigacija>
<h1 class="naslovi boxNov">----Računi----</h1>
<div class="boxNov" id="glavniBox">
  
  <div class="forma-Stroski marginLeftZaRacun marginBottomDvajset">
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr class="stilTekstaTabele">
            <th>Ime računa</th>
            <th>Stanje (€)</th>
            <th>Uredi/Briši</th>
          </tr>
        </thead>
        <tbody id="bodyOfRacuni" class="stilTekstaZaBody" ng-repeat="racun in glava.racuni">
          <tr id="{{racun._id}}">
            <td>{{racun.naziv}}</td>
            <td>{{racun.stanje}}</td>
            <td>
              <button class="btn btn-primary" id="{{racun._id}}1" style="margin-right:5px;margin-top:5px;" ng-click="glava.showMesecniModal(racun._id)">Uredi</button>
              <button class="btn btn-danger" id="{{racun._id}}2" style="margin-top:5px;" ng-click="glava.brisiMesecni(racun._id)">X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- dodajanje racunov-->
    <div class="forma-Stroski zaAlignText">
      <button ng-click="glava.dodajRacun()" class="btn btn-info buttonZaRacune marginLeftZaRacun">Dodaj račun</button>
    </div>
    <div id="racunBlock" style="display:none" class="card kartica forma-Stroski drugaFormaDodatek">
      <h3 id="colorZaRacune" class="card-header">Dodajanje Računov</h3>
      <form id="dodajanjeRacunovForm" ng-submit='glava.posiljanjeRacuna()' method="post">
        <div class="card-body">
          <div class="form-group forma-Stroski">
            <label for="imeRacuna" class="col-form-label">Ime računa</label>
            <input type="text" id="imeRacuna" name="imeRacuna" required="required" ng-model='glava.podatkiRacuna.naziv' class="form-control"/>
          </div>
          <div class="form-group forma-Stroski drugaFormaDodatek">
            <label class="control-label">Začetno stanje</label>
            <div class="form-group">
              <label for="zacetnoStanje" class="sr-only">Količina (in euros)</label>
              <div class="input-group">
                <div class="input-group-addon">€</div>
                <input type="text" id="zacetnoStanje" name="zacetnoStanje" placeholder="Količina" ng-model='glava.podatkiRacuna.stanje' required="required" class="form-control"/>
              </div>
            </div>
            <div class="forma-Stroski zaAlignText">
              <button type="submit" onClick="submitRacun()" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  
</div>