<navigacija vsebina="podatki"></navigacija>

<div id="statistikaWrapper">
    <div id="statistikaChartWrapper">
      <canvas id="myChart"></canvas>
    </div>
    <div id="statistikaProgressBarWrapper" class="progress">
      <div role="progressbar" style="width:85%;color:white;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-info">privarčevano</div>
    </div>
    <div id="statistikaDodajCiljButtonWrapper">
      <button style="width:170px;" ng-click="podatki.odpriCilji()" class="btn btn-info">Dodaj cilj</button>
    </div>

  <div style="float:left;margin-bottom:20px;display:none;" id="ciljBlock" class="card">
    <h3 style="background-color:#5BC0DE;" class="card-header">Dodajanje cilja</h3>
    <div class="card-body">
      <form id="ciljiDodaj" ng-submit='podatki.posljiCilj()' method="POST">
        <div style="float:left;width:100%" class="form-group">
          <label for="inputDefault" class="col-form-label">Ime cilja</label>
          <input type="text" id="inputDefault" ng-model='podatki.imeCilja' name="inputDefault" class="form-control"/>
        </div>
        <div class="form-group"></div>
        <label for="kolicinaCilja" class="sr-only">Količina (in euros)</label>
        <div class="input-group">
          <div class="input-group-addon">€</div>
          <input type="text" id="kolicinaCilja" ng-model='podatki.kolicinaCilja' name="kolicinaCilja" placeholder="" class="form-control"/>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Mesečni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" ng-model='podatki.mesecniCilj' name="checkBoxMesecni" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Dolgoročni</p>
            <input type="checkbox" name="checkBoxDolgorocni" ng-model='podatki.enkratniCilj' style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:100%;" class="form-group">
          <label for="datumCiljaOd" class="col-form-label">Od</label>
          <input type="date" id="datumCiljaOd" ng-model='podatki.odCilj' name="datumCiljaOd" class="form-control"/>
          <label for="datumCiljaDo" class="col-form-label">Do</label>
          <input type="date" id="datumCiljaDo" ng-model='podatki.doCilj' name="datumCiljaDo" class="form-control"/>
        </div>
        <div style="float:left;width:100%;text-align:center;">
          <button type="submit" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
  
  <div id="statistikaTableCiljiWrapper">
    <table class="table table-striped table-hover table-borderless">
      <thead>
        <tr class="stilTekstaTabele">
          <th>Cilj</th>
          <th>Količina (€)</th>
          <th>Privarčevano (€)</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="varcevanje in podatki.ciljiMesecni" style="text-align:center; color:white;" id="{{varcevanje._id}}">
            <td>{{varcevanje.naziv}}</td>
            <td>{{varcevanje.mesecniOdliv}}</td>
            <td>{{varcevanje.privarcevano}}</td>
          </tr>
          <tr ng-repeat="varcevanje in podatki.ciljiEnkratni" style="text-align:center; color:white;" id="{{varcevanje._id}}">
            <td>{{varcevanje.naziv}}</td>
            <td>{{varcevanje.skupno}}</td>
            <td>{{varcevanje.privarcevano}}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>