<glava vsebina='neki'></glava>
<div class="naslovi">
  <h1>----Vnos začetnih podatkov----</h1>
  <div *ngIf="napaka == niBrisano">
    <div style="text-align:center;" class="alert alert-dismissible alert-danger">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>Oh snap! Prišlo je do napake pri brisanju baze.</strong>
    </div>
  </div>
  <div *ngIf="napaka == brisano">
    <div style="text-align:center;" class="alert alert-dismissible alert-success">
      <button type="button" data-dismiss="alert" class="close">X</button><strong>Uspešno ste pobrisali bazo.</strong>
    </div>
  </div>
  
  <button onClick="pobrisiBazo()" style="width:20%;" class="btn btn-danger gumbi-stroski-prelivi">Pobriši bazo</button>
</div>
<div id="glavniBox" class="glavniDataPoravnava">
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajUporabnika()" class="btn btn-primary gumbi-stroski-prelivi">Dodaj uporabnika</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajStrosek()" class="btn btn-danger gumbi-stroski-prelivi">Dodaj strošek</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajPreliv()" class="btn btn-success gumbi-stroski-prelivi">Dodaj priliv</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajRacun()" class="btn btn-info gumbi-stroski-prelivi">Dodaj račun</button>
  </div>
  <div style="width:20%;" class="box-gumbi-stroski-prelivi zaBoxeData">
    <button onClick="dodajCilj()" class="btn btn-warning gumbi-stroski-prelivi">Dodaj cilj</button>
  </div>
  <div id="uporabnikBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-primary">Dodajanje Uporabnikov</h3>
    <div class="card-body">
      <form id="dodajanjeUporabnikaForm">
        <div class="form-group forma-Stroski">
          <label for="imeUporabnika" class="col-form-label">Ime uporabnika</label>
          <input type="text" id="imeUporabnika" placeholder="Ime" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="priimekUporabnika" class="col-form-label">Priimek uporabnika</label>
          <input type="text" id="priimekUporabnika" placeholder="Priimek" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="gesloUporabnika" class="col-form-label">Geslo uporabnika</label>
          <input type="password" id="gesloUporabnika" placeholder="*****" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski">
          <label for="gesloPonovnoUporabnika" class="col-form-label">Ponovi geslo uporabnika</label>
          <input type="password" id="gesloPonovnoUporabnika" placeholder="*****" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitPreljiv()" style="width:120px;margin-bottom:5px;" class="btn btn-primary gumbiZaSubmit">Potrdi    </button>
        </div>
        <!--dodajanje stroskov-->
      </form>
    </div>
  </div>
  <div id="strosekBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-danger">Dodajanje stroškov</h3>
    <div class="card-body">
      <form id="strosekForm">
        <div class="form-group forma-Stroski">
          <label for="uprStrosek">Za uporabnika</label>
          <select id="uprStrosek" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imeStroska" class="col-form-label">Ime stroška</label>
          <input type="text" id="imeStroska" required="required" class="form-control"/>
        </div>
        <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
          <label class="control-label">Količina</label>
          <div class="form-group">
            <label for="kolicinaStroska" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="kolicinaStroska" placeholder="Količina" required="required" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group drugiFormGroup">
          <label for="strosekIzRacuna">Iz računa</label>
          <select id="strosekIzRacuna" class="form-control controlaOption">
            <option>NLB</option>
            <option>NLB varcevalni</option>
            <option>Štumf</option>
          </select>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Mesečni</p>
            <input type="checkbox" id="checkboxMesecni" onChange="mesecniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Enkratni</p>
            <input type="checkbox" id="checkboxEnkratni" onChange="enkratniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-group forma-Stroski">
          <label for="datumStroska" class="col-form-label">Datum stroška</label>
          <input type="date" id="datumStroska" disabled="true" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitStrosek()" style="width:120px;margin-bottom:5px;" class="btn btn-danger gumbiZaSubmit">Potrdi</button>
        </div>
      </form>
      <!--dodajanje prilivov-->
    </div>
  </div>
  <div id="prelivBlock" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-success">Dodajanje Prilivov</h3>
    <div class="card-body">
      <form id="dodajanjePrilivaForm">
        <div class="form-group forma-Stroski">
          <label for="uprPriliv">Za uporabnika</label>
          <select id="uprPriliv" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imePreliva" class="col-form-label">Ime priliva</label>
          <input type="text" id="imePreliva" class="form-control"/>
        </div>
        <div class="form-group drugiFormGroup drugaFormaDodatek kolicinaMedia">
          <label class="control-label">Količina</label>
          <div class="form-group">
            <label for="kolicinaPreliva" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="kolicinaPreliva" placeholder="Količina" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group drugiFormGroup">
          <label for="racunPreliva">Na račun</label>
          <select id="racunPreliva" class="form-control controlaOption">
            <option>NLB</option>
            <option>NLB varcevalni</option>
            <option>Štumf</option>
          </select>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Mesečni</p>
            <input type="checkbox" id="mesecniPreliv" onChange="mesecniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-check prviFormGroup">
          <label class="form-check-label">
            <p class="pZaForme">Enkratni</p>
            <input type="checkbox" id="enkratniPreliv" onChange="enkratniClick(this.id)" class="form-check-input checkBoxi"/>
          </label>
        </div>
        <div class="form-group forma-Stroski">
          <label for="datumPreliva" class="col-form-label">Datum priliva</label>
          <input type="date" id="datumPreliva" disabled="true" class="form-control"/>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitPreljiv()" style="width:120px;margin-bottom:5px;" class="btn btn-success gumbiZaSubmit">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
  <div id="racunBlock2" style="display:none;" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-info">Dodajanje Računov</h3>
    <form id="dodajanjeRacunovForm">
      <div class="card-body">
        <div class="form-group forma-Stroski">
          <label for="uprRacun">Za uporabnika</label>
          <select id="uprRacun" class="form-control controlaOption">
            <option>Matevz Ogrinc</option>
            <option>Gregor Skertanec</option>
          </select>
        </div>
        <div class="form-group forma-Stroski">
          <label for="imeRacuna" class="col-form-label">Ime računa</label>
          <input type="text" id="imeRacuna" required="required" class="form-control"/>
        </div>
        <div class="form-group forma-Stroski drugaFormaDodatek">
          <label class="control-label">Začetno stanje</label>
          <div class="form-group">
            <label for="zacetnoStanje" class="sr-only">Količina (in euros)</label>
            <div class="input-group">
              <div class="input-group-addon">€</div>
              <input type="text" id="zacetnoStanje" placeholder="Količina" required="required" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="forma-Stroski zaAlignText">
          <button type="button" onClick="submitRacun()" style="width:120px;margin-bottom:5px;" class="btn btn-info">Potrdi</button>
        </div>
      </div>
    </form>
  </div>
  <div style="display:none;" id="ciljBlock2" class="card kartica2 zaDataPoravnava">
    <h3 class="card-header bg-warning">Dodajanje cilja</h3>
    <div class="card-body">
      <form>
        <div class="form-group forma-Stroski"></div>
        <label for="uprCilj">Za uporabnika</label>
        <select id="uprCilj" class="form-control controlaOption">
          <option>Matevz Ogrinc</option>
          <option>Gregor Skertanec</option>
        </select>
        <div style="float:left;width:100%" class="form-group">
          <label for="inputDefault" class="col-form-label">Ime cilja</label>
          <input type="text" id="inputDefault" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="control-label">Količina</label>
          <label for="kolicinaCilja" class="sr-only">Količina (in euros)</label>
          <div class="input-group">
            <div class="input-group-addon">€</div>
            <input type="text" id="kolicinaCilja" placeholder="" class="form-control"/>
          </div>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Mesečni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:50%;" class="form-check">
          <label class="form-check-label">
            <p style="float:left;margin-top:3px;">Dolgoročni</p>
            <input type="checkbox" style="float:left;margin-left:10px;" class="form-check-input"/>
          </label>
        </div>
        <div style="float:left;width:100%;" class="form-group">
          <label for="datumCiljaOd" class="col-form-label">Od</label>
          <input type="date" id="datumStroska" class="form-control"/>
          <label for="datumCiljaDo" class="col-form-label">Do</label>
          <input type="date" id="datumStroska" class="form-control"/>
        </div>
        <div style="float:left;width:100%;text-align:center;">
          <button type="submit" style="width:120px;margin-bottom:5px;" class="btn btn-warning">Potrdi</button>
        </div>
      </form>
    </div>
  </div>
</div>