<navigacija vsebina='podatki'></navigacija>
<div class="naslovi">
  <h1 id="#pozabljenoGesloH1">----Pozabljeno geslo----</h1>
  <div>
    <form>
      <div>
        <label id="pozabljenoGesloEmailLabel">e-mail:
          <input type="email" placeholder="e-mail" required="required"/>
        </label>
      </div>
      <div>
        <button type="submit" value="Ponastavi me" id="pozabljenoGesloButtonPonastavi" class="btn btn-success">Ponastavi</button>
      </div>
    </form>
  </div>
</div>