extends layout
block link
    -var stran = 'vhodna';

block content
    script(src='/javascripts/funkcijeZaData.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    div.naslovi
        h1 ----Vnos začetnih podatkov----
        if (napaka == "niBrisano")
          div.alert.alert-dismissible.alert-danger(style='text-align:center;')
              button.close(type="button" ,data-dismiss="alert") X
              strong Oh snap! Prišlo je do napake pri brisanju baze.
        if (napaka == "brisano")
          div.alert.alert-dismissible.alert-success(style='text-align:center;')
              button.close(type="button" ,data-dismiss="alert") X
              strong Uspešno ste pobrisali bazo.
        button.btn.btn-danger.gumbi-stroski-prelivi(onClick='pobrisiBazo()',style='width:20%;') Pobriši bazo
    div.glavniDataPoravnava(id='glavniBox')
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-primary.gumbi-stroski-prelivi(onClick='dodajUporabnika()') Dodaj uporabnika
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-danger.gumbi-stroski-prelivi( onClick='dodajStrosek()') Dodaj strošek
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-success.gumbi-stroski-prelivi( onClick="dodajPreliv()") Dodaj priliv
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-info.gumbi-stroski-prelivi(onClick='dodajRacun()') Dodaj račun
        div.box-gumbi-stroski-prelivi.zaBoxeData(style='width:20%;')
            button.btn.btn-warning.gumbi-stroski-prelivi(onClick='dodajCilj()') Dodaj cilj
            
            
            
        div.card.kartica2.zaDataPoravnava(id='uporabnikBlock',style='display:none;')
            h3.card-header.bg-primary Dodajanje Uporabnikov
            div.card-body
              form(id="dodajanjeUporabnikaForm")
                div.form-group.forma-Stroski
                    label.col-form-label(for='imeUporabnika') Ime uporabnika
                    input.form-control(type='text', id='imeUporabnika',placeholder='Ime')
                div.form-group.forma-Stroski
                    label.col-form-label(for='priimekUporabnika') Priimek uporabnika
                    input.form-control(type='text', id='priimekUporabnika',placeholder='Priimek')
                div.form-group.forma-Stroski
                    label.col-form-label(for='gesloUporabnika') Geslo uporabnika
                    input.form-control(type='password', id='gesloUporabnika',placeholder='*****')
                div.form-group.forma-Stroski
                    label.col-form-label(for='gesloPonovnoUporabnika') Ponovi geslo uporabnika
                    input.form-control(type='password', id='gesloPonovnoUporabnika',placeholder='*****')
                div.forma-Stroski.zaAlignText
                  button.btn.btn-primary.gumbiZaSubmit(type='button',onClick='submitPreljiv()',style='width:120px;margin-bottom:5px;') Potrdi    
                
                
                //dodajanje stroskov
                
        div.card.kartica2.zaDataPoravnava(id='strosekBlock',style='display:none;')
            h3.card-header.bg-danger Dodajanje stroškov
            div.card-body
              form(id='strosekForm')
                div.form-group.forma-Stroski
                  label(for='uprStrosek') Za uporabnika
                  select.form-control.controlaOption(id='uprStrosek')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imeStroska') Ime stroška
                  input.form-control(type='text' id='imeStroska' required)
                div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
                  label.control-label Količina
                  div.form-group
                    label.sr-only(for='kolicinaStroska') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaStroska', placeholder='Količina' required )
                div.form-group.drugiFormGroup
                  label(for='strosekIzRacuna') Iz računa
                  select.form-control.controlaOption(id='strosekIzRacuna')
                    option NLB
                    option NLB varcevalni
                    option Štumf
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Mesečni
                    input.form-check-input.checkBoxi(type='checkbox',id='checkboxMesecni', onChange='mesecniClick(this.id)') 
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Enkratni
                    input.form-check-input.checkBoxi(type='checkbox',id='checkboxEnkratni',onChange='enkratniClick(this.id)') 
                div.form-group.forma-Stroski
                  label.col-form-label(for='datumStroska') Datum stroška
                  input.form-control(type='date', id='datumStroska', disabled="true")
                div.forma-Stroski.zaAlignText
                  button.btn.btn-danger.gumbiZaSubmit(type='button',onClick='submitStrosek()',style='width:120px;margin-bottom:5px;') Potrdi
            
              //dodajanje prilivov
              
        div.card.kartica2.zaDataPoravnava(id='prelivBlock',style='display:none;')
            h3.card-header.bg-success Dodajanje Prilivov
            div.card-body
              form(id="dodajanjePrilivaForm")
                div.form-group.forma-Stroski
                  label(for='uprPriliv') Za uporabnika
                  select.form-control.controlaOption(id='uprPriliv')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imePreliva') Ime priliva
                  input.form-control(type='text' id='imePreliva')
                div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
                  label.control-label Količina
                  div.form-group
                    label.sr-only(for='kolicinaPreliva') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaPreliva', placeholder='Količina')
                div.form-group.drugiFormGroup
                  label(for='racunPreliva') Na račun
                  select.form-control.controlaOption(id='racunPreliva')
                    option NLB
                    option NLB varcevalni
                    option Štumf
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Mesečni
                    input.form-check-input.checkBoxi(type='checkbox',id='mesecniPreliv',onChange='mesecniClick(this.id)') 
                div.form-check.prviFormGroup
                  label.form-check-label
                    p.pZaForme Enkratni
                    input.form-check-input.checkBoxi(type='checkbox',id='enkratniPreliv',onChange='enkratniClick(this.id)') 
                div.form-group.forma-Stroski
                  label.col-form-label(for='datumPreliva') Datum priliva
                  input.form-control(type='date', id='datumPreliva', disabled='true')
                div.forma-Stroski.zaAlignText
                  button.btn.btn-success.gumbiZaSubmit(type='button',onClick='submitPreljiv()',style='width:120px;margin-bottom:5px;') Potrdi
                  
        div.card.kartica2.zaDataPoravnava(id='racunBlock2',style='display:none;')
            h3.card-header.bg-info Dodajanje Računov
            form(id="dodajanjeRacunovForm")
              div.card-body
                div.form-group.forma-Stroski
                  label(for='uprRacun') Za uporabnika
                  select.form-control.controlaOption(id='uprRacun')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                div.form-group.forma-Stroski
                  label.col-form-label(for='imeRacuna') Ime računa
                  input.form-control(type='text', id='imeRacuna' required)
                div.form-group.forma-Stroski.drugaFormaDodatek
                  label.control-label Začetno stanje
                  div.form-group
                    label.sr-only(for='zacetnoStanje') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='zacetnoStanje', placeholder='Količina' required)
                div.forma-Stroski.zaAlignText
                  button.btn.btn-info(type='button', onClick='submitRacun()' style='width:120px;margin-bottom:5px;') Potrdi
                  
        div.card.kartica2.zaDataPoravnava(style='display:none;', id='ciljBlock2')
            h3.card-header.bg-warning Dodajanje cilja
            div.card-body
                form
                  div.form-group.forma-Stroski
                  label(for='uprCilj') Za uporabnika
                  select.form-control.controlaOption(id='uprCilj')
                    option Matevz Ogrinc
                    option Gregor Skertanec
                  div.form-group(style='float:left;width:100%')
                    label.col-form-label(for='inputDefault') Ime cilja
                    input.form-control(type='text' id='inputDefault')
                  div.form-group
                    label.control-label Količina
                    label.sr-only(for='kolicinaCilja') Količina (in euros)
                    div.input-group
                      div.input-group-addon €
                      input.form-control(type='text', id='kolicinaCilja', placeholder='')
                  div.form-check(style='float:left;width:50%;')
                    label.form-check-label
                      p(style='float:left;margin-top:3px;') Mesečni
                      input.form-check-input(type='checkbox',style='float:left;margin-left:10px;') 
                  div.form-check(style='float:left;width:50%;')
                    label.form-check-label
                      p(style='float:left;margin-top:3px;') Dolgoročni
                      input.form-check-input(type='checkbox',style='float:left;margin-left:10px;') 
                  div.form-group(style='float:left;width:100%;')
                    label.col-form-label(for='datumCiljaOd') Od
                    input.form-control(type='date', id='datumStroska')
                    label.col-form-label(for='datumCiljaDo') Do
                    input.form-control(type='date', id='datumStroska')
                  div(style='float:left;width:100%;text-align:center;')
                    button.btn.btn-warning(type='submit', style='width:120px;margin-bottom:5px;') Potrdi