extends layout

block content
  script(src='/javascripts/funkcijeZaStran.js')
  script(src='/javascripts/jquery-3.2.1.min.js')
  
  div(id='glavniBox') 
    div.triCetrtineBox
      
      //pregled mesec
      
      div(id='pregledMesecBox').kolicinaMedia
          button.btn.btn-secondary.mesecButtoni(id='levo',onClick='moveMesecNazaj()')
            span.glyphicon.glyphicon-chevron-left
          h1(id='mesecPisava')= prikaziMesec
          if(mesec != trenutniMesec)
            button.btn.btn-secondary.mesecButtoni(onClick='moveMesecNaprej()')
              span.glyphicon.glyphicon-chevron-right
      
      //progress bar
      
      div.progress(id='progressBar').kolicinaMedia
        div.progress-bar.progress-bar-striped.bg-info(id='barMesecniStroski',role="progressbar",style='width:25%',name="0",title="Mesečni stroški: ") 
        div.progress-bar.progress-bar-striped(id='barEnkratniStroski',role="progressbar",style='width:25%',name="0",title="Enkratni stroški: ") 
        div.progress-bar.progress-bar-striped.bg-success(id='barStanje',role="progressbar",style='width:25%',name="0",title="Trenutno stanje: ") 
        div.progress-bar.progress-bar-striped.bg-danger(id='barVarcevanje',role="progressbar",style='width:25%',name="0",title="Varčevalni cilji: ")
        
      //buttoni za dodajanje stroškov in prelivov
      
      div.box-gumbi-stroski-prelivi
        if(mesec == trenutniMesec)
          button.btn.btn-danger.gumbi-stroski-prelivi( onClick='dodajStrosek()') dodaj strošek
        else  
          button.btn.btn-danger.gumbi-stroski-prelivi( onClick='dodajStrosek()',disabled) dodaj strošek
      div.box-gumbi-stroski-prelivi
        if(mesec == trenutniMesec)
          button.btn.btn-success.gumbi-stroski-prelivi( onClick="dodajPreliv()") dodaj priliv
        else
          button.btn.btn-success.gumbi-stroski-prelivi( onClick="dodajPreliv()",disabled) dodaj priliv
      
      //dropdown za dodajanje stroskov in prelivov
      
      //dodajanje stroskov
      
      div.karticeBorder(id='incaseBlock',style='display:none')
      div.card.kartica(id='strosekBlock',style='display:none')
        h3.card-header.bg-danger Dodajanje stroškov
        div.card-body
          form(id='strosekForm',action='/dodajStrosek/'+id+'/mesec/'+mesec,method='post')
            div.form-group.forma-Stroski
              label.col-form-label(for='imeStroska') Ime stroška
              input.form-control(type='text' id='imeStroska',name='imeStroska', required)
            div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
              label.control-label Količina
              div.form-group
                label.sr-only(for='kolicinaStroska') Količina (in euros)
                div.input-group
                  div.input-group-addon €
                  input.form-control(type='text', id='kolicinaStroska',name='kolicinaStroska', placeholder='Količina' required )
            div.form-group.drugiFormGroup
              label(for='strosekIzRacuna') Iz računa
              select.form-control.controlaOption(id='strosekIzRacuna',name='strosekIzRacuna',style='margin-bottom:20px;')
                each racun, i in racuni
                  option(value=racun._id)= racun.naziv
            div.form-check.prviFormGroup
              label.form-check-label
                p.pZaForme Mesečni
                input.form-check-input.checkBoxi(type='checkbox',id='checkboxMesecni',name='checkboxMesecni', onChange='mesecniClick(this.id)') 
            div.form-check.prviFormGroup
              label.form-check-label
                p.pZaForme Enkratni
                input.form-check-input.checkBoxi(type='checkbox',id='checkboxEnkratni',name='checkboxEnkratni',onChange='enkratniClick(this.id)') 
            div.form-group.forma-Stroski(hidden)
              label.col-form-label(for='datumStroska') Datum stroška
              input.form-control(type='date', id='datumStroska', disabled="true",placeholder='01-01-2017')
            div.forma-Stroski.zaAlignText
              button.btn.btn-danger.gumbiZaSubmit(type='submit',onClick='submitStrosek()') Potrdi
      
      //dodajanje prilivov
      
      div.card.kartica(id='prelivBlock',style='display:none')
        h3.card-header.bg-success Dodajanje Prilivov
        div.card-body
          form(id="dodajanjePrilivaForm",action='/dodajPriliv/'+id+'/mesec/'+mesec,method='post')
            div.form-group.forma-Stroski
              label.col-form-label(for='imePreliva') Ime priliva
              input.form-control(type='text' id='imePreliva',name='imePreliva')
            div.form-group.drugiFormGroup.drugaFormaDodatek.kolicinaMedia
              label.control-label Količina
              div.form-group
                label.sr-only(for='kolicinaPreliva') Količina (in euros)
                div.input-group
                  div.input-group-addon €
                  input.form-control(type='text', id='kolicinaPreliva', placeholder='Količina',name='kolicinaPreliva')
            div.form-group.drugiFormGroup
              label(for='racunPreliva') Na račun
              div.input-group
                select.form-control.controlaOption(id='racunPreliva',name='racunPreliva',style='margin-bottom:20px;')
                  each racun, i in racuni
                    option.drugaFormaDropdown(value=racun._id, style="margin:20px;")= racun.naziv
            div.form-check.prviFormGroup
              label.form-check-label
                p.pZaForme Mesečni
                input.form-check-input.checkBoxi(type='checkbox',id='mesecniPreliv',onChange='mesecniClick(this.id)', name='mesecniPreliv') 
            div.form-check.prviFormGroup
              label.form-check-label
                p.pZaForme Enkratni
                input.form-check-input.checkBoxi(type='checkbox',id='enkratniPreliv',onChange='enkratniClick(this.id)',name='enkratniPreliv') 
            div.form-group.forma-Stroski(hidden)
              label.col-form-label(for='datumPreliva') Datum priliva
              input.form-control(type='date', id='datumPreliva', disabled='true',name='datumPreliva' placeholder='01-01-2017')
            div.forma-Stroski.zaAlignText
              button.btn.btn-success.gumbiZaSubmit(type='submit',onClick='submitPreljiv()') Potrdi
          
          
          //tabela stroškov in prelivov
      
      //popup za urejanje
      
      include popups.jade      
                  
      div(id='boxZaTabelo')
        table.table.table-striped.table-hover.table-bordered
          thead
            tr.stilTekstaTabele
              th Ime
              th Strošek/Priliv
              th Račun
              th Količina(€)
              th Datum/enota(datum/€)
              th Uredi/Briši/Dodaj enoto
          tbody(id='bodyOfStroski').stilTekstaZaBody
            each enkratniStrosek, j in kolekcijaEnkratniStroski
              tr(id=enkratniStrosek._id)
                td= enkratniStrosek.naziv
                td Strošek
                each rac,j in racuni
                  if(rac._id == enkratniStrosek.racun)
                    td(value=rac._id)= rac.naziv
                td= enkratniStrosek.kolicina
                td
                  input(type='text',style='text-align:center;' value=enkratniStrosek.zadnjiVnosKolicina)
                td
                  if(mesec == trenutniMesec)
                    button.btn.btn-info.btn-media(id=enkratniStrosek._id+'1', onClick='dodajEnoto(this.id)') +1
                    button.btn.btn-primary.btn-media(id=enkratniStrosek._id+'1', onClick='showModalEnkratni(this.id)') Uredi
                  else
                    button.btn.btn-info.btn-media(id=enkratniStrosek._id+'1', onClick='dodajEnoto(this.id)',disabled) +1
                    button.btn.btn-primary.btn-media(id=enkratniStrosek._id+'1', onClick='showModalEnkratni(this.id)',disabled) Uredi
                    
            each mesecniStrosek, j in kolekcijaMesecniStroski
              tr(id=mesecniStrosek._id)
                td= mesecniStrosek.naziv
                td Strošek
                each rac,j in racuni
                  if(rac._id == mesecniStrosek.racun)
                    td(value=rac._id)= rac.naziv
                td= mesecniStrosek.kolicina
                td= mesecniStrosek.odlivi[0].datum
                td
                  if(mesecniStrosek.odlivi[0].datum == "Nepotrjeno")
                    if(mesec == trenutniMesec)
                      button.btn.btn-primary.btn-media(id=mesecniStrosek._id+'1', onClick='showModal(this.id)') Potrdi
                      button.btn.btn-danger.btn-media(id=mesecniStrosek._id+'2', onClick='brisiMesecni(this.id)') Ne potrdi
                    else
                      button.btn.btn-primary.btn-media(id=mesecniStrosek._id+'1', onClick='showModal(this.id)',disabled) Potrdi
                      button.btn.btn-danger.btn-media(id=mesecniStrosek._id+'2', onClick='brisiMesecni(this.id)',disabled) Ne potrdi
                  else
                    if(mesec == trenutniMesec)
                      button.btn.btn-primary.btn-media(id=mesecniStrosek._id+'1', onClick='showModal(this.id)') Uredi
                      button.btn.btn-danger.btn-media(id=mesecniStrosek._id+'2', onClick='brisiMesecni(this.id)') X
                    else  
                      button.btn.btn-primary.btn-media(id=mesecniStrosek._id+'1', onClick='showModal(this.id)',disabled) Uredi
                      button.btn.btn-danger.btn-media(id=mesecniStrosek._id+'2', onClick='brisiMesecni(this.id)',disabled) X
                      
            each enkratniPrilivi, j in kolekcijaEnkratniPrilivi
              tr(id=enkratniPrilivi._id)
                td= enkratniPrilivi.naziv
                td Priliv
                each rac,j in racuni
                  if(rac._id == enkratniPrilivi.racun)
                    td(value=rac._id)= rac.naziv
                td= enkratniPrilivi.kolicina
                td= enkratniPrilivi.datum
                td
                  if(mesec == trenutniMesec)
                    button.btn.btn-primary.btn-media(id=enkratniPrilivi._id+'1', onClick='showModalEnkratni(this.id)') Uredi
                    button.btn.btn-danger.btn-media(id=enkratniPrilivi._id+'2', onClick='brisiEnkratni(this.id)') X
                  else
                    button.btn.btn-primary.btn-media(id=enkratniPrilivi._id+'1', onClick='showModalEnkratni(this.id)',disabled) Uredi
                    button.btn.btn-danger.btn-media(id=enkratniPrilivi._id+'2', onClick='brisiEnkratni(this.id)',disabled) X
                  
            
            each mesecniPriliv, j in kolekcijaMesecniPrilivi
              tr(id=mesecniPriliv._id)
                td= mesecniPriliv.naziv
                td Priliv
                each rac, j in racuni
                  if(rac._id == mesecniPriliv.racun)
                    td(value=rac._id)= rac.naziv
                td= mesecniPriliv.kolicina
                td= mesecniPriliv.prilivi[0].datum
                td
                  if(mesecniPriliv.prilivi[0].datum == "Nepotrjeno")
                    if(mesec == trenutniMesec)
                      button.btn.btn-primary.btn-media(id=mesecniPriliv._id+'1', onClick='showModal(this.id)') Potrdi
                      button.btn.btn-danger.btn-media(id=mesecniPriliv._id+'2', onClick='brisiMesecni(this.id)') Ne potrdi
                    else
                      button.btn.btn-primary.btn-media(id=mesecniPriliv._id+'1', onClick='showModal(this.id)',disabled) Potrdi
                      button.btn.btn-danger.btn-media(id=mesecniPriliv._id+'2', onClick='brisiMesecni(this.id)',disabled) Ne potrdi
                  else
                    if(mesec == trenutniMesec)
                      button.btn.btn-primary.btn-media(id=mesecniPriliv._id+'1', onClick='showModal(this.id)') Uredi
                      button.btn.btn-danger.btn-media(id=mesecniPriliv._id+'2', onClick='brisiMesecni(this.id)') X
                    else
                      button.btn.btn-primary.btn-media(id=mesecniPriliv._id+'1', onClick='showModal(this.id)',disabled) Uredi
                      button.btn.btn-danger.btn-media(id=mesecniPriliv._id+'2', onClick='brisiMesecni(this.id)',disabled) X
                  
    div.boxZaCetrtino
      h1.marginLeftZaRacun Računi
      
      //tabela racunov
      
      +tabelaRacunov
              
      // dodajanje racunov
      
      div.forma-Stroski.zaAlignText
        button.btn.btn-info.buttonZaRacune.marginLeftZaRacun(onClick='dodajRacun()') Dodaj račun
      div.card.kartica.forma-Stroski.drugaFormaDodatek(id='racunBlock',style='display:none')
        h3(id='colorZaRacune').card-header Dodajanje Računov
        form(id="dodajanjeRacunovForm",action='/dodajRacunNov/'+id+'/mesec/'+mesec,method='post')
          div.card-body
            div.form-group.forma-Stroski
              label.col-form-label(for='imeRacuna') Ime računa
              input.form-control(type='text', id='imeRacuna',name='imeRacuna' required)
            div.form-group.forma-Stroski.drugaFormaDodatek
              label.control-label Začetno stanje
              div.form-group
                label.sr-only(for='zacetnoStanje') Količina (in euros)
                div.input-group
                  div.input-group-addon €
                  input.form-control(type='text', id='zacetnoStanje',name='zacetnoStanje' placeholder='Količina' required)
            div.forma-Stroski.zaAlignText
              button.btn.btn-info(type='submit', onClick='submitRacun()' style='width:120px;margin-bottom:5px;') Potrdi
              
              
      div(id='cilji',hidden)
        each ciljObdobj,i in ciljObdobje
          div(value=ciljObdobj.skupno,hidden)
        each ciljMesec,i in ciljMesecni
          div(value=ciljMesec.mesecniOdliv,hidden)
          
      script(src='/javascripts/onLoadSite.js')