doctype html
html(ng-app='MojToshl')
  head
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/superhero_bootstrap.min.css')
    script(src='angular/angular.min.js')
    script(src='/app.js')
    script(src='/lib/angular-route.min.js')
    script(src='/pogledi/front/registracija.krmilnik.js')
    script(src='/pogledi/front/prijava.krmilnik.js')
    script(src='/skupno/storitve/mojToshl.storitve.js')
    script(src='/skupno/directive/glava.directive.js')
    script(src='/pogledi/home/index.krmilnik.js')
    script(src='/pogledi/home/profil.krmilnik.js')
    script(src='/pogledi/home/statistika.krmilnik.js')
    base(href='/')
    
  block link
    -var url = "/home/" + id +"/mesec/"+mesec;
    -var urlMesec = "/mesec/"+mesec;
  body
    mixin tabelaRacunov
      div.forma-Stroski.marginLeftZaRacun.marginBottomDvajset
          table.table.table-striped.table-hover.table-bordered
            thead
              tr.stilTekstaTabele
                th Ime računa
                th Stanje(€)
                th Uredi/Briši
            tbody(id='bodyOfRacuni').stilTekstaZaBody
              each racun, i in racuni
                tr(id=racun._id)
                  td= racun.naziv
                  td= racun.stanje
                  td
                    button.btn.btn-primary(id=racun._id+'0',style='margin-right:5px;margin-top:5px;', onClick='showModalRacuni(this.id)') Uredi
                    button.btn.btn-danger(id=racun._id+'2',style='margin-top:5px;',onClick='brisiRacun(this.id)') X
    h1= stran
    script(src='/javascripts/funkcijeZaStran.js')
    div(id='wrapper')
      if stran === 'home'
        span(id='stats-glpyh')
          a.navadniLinki(href='/statistika/'+id+urlMesec)
            span.glyphicon.glyphicon-stats
      else
        span(id='stats-glpyh',style='visibility:hidden;').glyphicon.glyphicon-stats
      h1(id='layoutNaslov')
        a(href=url,id='linkNaslov')= title
      if stran === 'home'
        span(id='search-glpyh').glyphicon.glyphicon-search
          
          a.navadniLinki(href='/profil/'+id+urlMesec)
            span(id='user-glyph').glyphicon.glyphicon-user
          a.navadniLinki(href='/',onClick='odjaviMe()')
            span(id='user-glpyh',style='margin-left:10px;').glyphicon.glyphicon-log-out
      else
        div(id='divZaRegistracijoInPrijava')
          a(href='/registracija') registracija
          | /
          a(href='/') prijava
        
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(id='media')
      if stran === 'home'
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation',style='float:left;')
          span.navbar-toggler-icon
        div(style='width:80%;float:left;')
          a.navadniLinki(href=url)
            h1(style='float:left;margin-left:10px;')= title
        #navbarColor01.collapse.navbar-collapse(style='float:left;')
          ul.navbar-nav(id='navigacija',style='font-size:14px;')
            li.nav-item
              a.nav-link(href='/statistika/'+id+urlMesec) Statistika 
            li.nav-item
              a.nav-link(href='/racuni/'+id+urlMesec) Računi
            li.nav-item
              a.nav-link(href=url) Stroški/Prilivi
            li.nav-item
              a.nav-link(href='/profil/'+id+urlMesec) Uporabniški račun
            li.nav-item
              a.nav-link(href='/',onClick='odjaviMe()') Odjava
          form.form-inline.my-2.my-lg-0
            input.form-control.mr-sm-2(type='text', placeholder='Search')
            button.btn.btn-secondary.my-2.my-sm-0(type='submit') Search
      else
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation',style='float:left;')
          span.navbar-toggler-icon
        div(style='width:80%;float:left;')
          a.navadniLinki(href='/')
            h1(style='float:left;margin-left:10px;')= title
        #navbarColor01.collapse.navbar-collapse(style='float:left;')
          ul.navbar-nav(id='navigacija')
            li.nav-item
              a.nav-link(href='/registracija') Registracija
            li.nav-item
              a.nav-link(href='/') Prijava
            li.nav-item
              a.nav-link(href='/pozabljenoGeslo') Pozabljeno geslo
            
        
      
    div(ng-view)    
      block content
      
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')

