extends layout

block link
    -var stran = 'vhodna';
block content
    div.naslovi
        h1(id='#pozabljenoGesloH1') ----Pozabljeno geslo----
        
        div
            form()
                div
                    label(id='pozabljenoGesloEmailLabel') e-mail: 
                        input(type="email", placeholder='e-mail' required)
                div
                    button(type="submit",class="btn btn-success", value="Ponastavi me", id='pozabljenoGesloButtonPonastavi') Ponastavi