extends layout
block link
    -var stran = 'vhodna';
block content
    
    div.naslovi
        h1 ----Prijava----
    
        if(napaka == "vrednost")
            div.alert.alert-dismissible.alert-danger(style='text-align:center;')
                button.close(type="button" ,data-dismiss="alert") X
                strong Oh snap! Vtipkali ste napačni E-naslov ali geslo.
        if(napaka == "neObstaja")
            div.alert.alert-dismissible.alert-danger(style='text-align:center;')
                button.close(type="button" ,data-dismiss="alert") X
                strong= vsebina
    form(id="prijavaForm",method="get",role="form",action='/uporabnik',style='font-size:15px;')
       div(id="boxZaReg")
            div(id='boxZaInputeReg')
                div.wrapperZaVhodneStrani
                    h4.tekstiRegistracija uporabniški E-naslov:
                    input.inputiRegistracija(type="email", placeholder='Email' id="prijavaEmail" name="prijavaEmail" required)
                div.wrapperZaVhodneStrani
                    h4.tekstiRegistracija geslo:
                    input.inputiRegistracija(type="password", placeholder='Geslo' id="prijavaGeslo" name="geslo" required)
                div(style="text-align:center;")
                    button.gumbnasredino(type="submit",class="btn btn-success", value="Prijavi me", id="gumbPrijava")  Prijavi me
                div(style="text-align:center;")
                    a(href='/registracija', id='gumbPocisti', style="margin-right:10px;") 
                        | registracija
                    a(href='/pozabljenoGeslo', id='gumbPocisti')
                        | pozabljeno geslo
                    
    script(src='/javascripts/prijavaUsmerjanje.js')