extends layout

block content
    script(src='/javascripts/funkcijeZaStran.js')
    script(src='/javascripts/onLoadSite.js')
    script(src='/javascripts/jquery-3.2.1.min.js')
    
    include popups.jade
    h1.naslovi.boxNov ----Računi----
    div.boxNov(id='glavniBox')
        +tabelaRacunov
            
              
      div.forma-Stroski.zaAlignText
        button.btn.btn-info.buttonZaRacune.marginLeftZaRacun(onClick='dodajRacun()') Dodaj račun
      div.card.kartica.forma-Stroski.drugaFormaDodatek(id='racunBlock',style='display:none')
        h3(id='colorZaRacune').card-header Dodajanje Računov
        form(id="dodajanjeRacunovForm",action='/dodajRacunNov/'+id+'/mesec/'+mesec,method='post')
          div.card-body
            div.form-group.forma-Stroski
              label.col-form-label(for='imeRacuna') Ime računa
              input.form-control(type='text', id='imeRacuna',name='imeRacuna' required)
            div.form-group.forma-Stroski.drugaFormaDodatek
              label.control-label Začetno stanje
              div.form-group
                label.sr-only(for='zacetnoStanje') Količina (in euros)
                div.input-group
                  div.input-group-addon €
                  input.form-control(type='text', id='zacetnoStanje',name='zacetnoStanje' placeholder='Količina' required)
            div.forma-Stroski.zaAlignText
              button.btn.btn-info(type='submit', onClick='submitRacun()' style='width:120px;margin-bottom:5px;') Potrdi