extends layout
block link
    -var stran = 'vhodna';

block content
    script(src='/javascripts/funkcijeZaStran.js')
    h1.naslovi ----Registracija----
    
    if (napaka == "vrednost")
        div.alert.alert-dismissible.alert-danger(style='text-align:center;')
            button.close(type="button" ,data-dismiss="alert") X
            strong Oh snap! Uporabnik s tem e-naslovom že obstaja.
    if (napaka == "nic")
        div.alert.alert-dismissible.alert-success(style='text-align:center;')
            button.close(type="button" ,data-dismiss="alert") X
            strong Uspešno ste se registrirali!

    form(id="registracija",action="/registracija", method="post",role="form",style='font-size:15px;' onsubmit="return validReg()")
        div(id="boxZaReg")
            div(id='boxZaInputeReg')
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija vaš e-mail:
                    input.inputiRegistracija(type="email",placeholder="vstavi email",name="email",id='email' required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija Vaše ime:
                    input.inputiRegistracija(type="text", placeholder="Ime",name="ime",id="ime" required )
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija Vaš priimek:
                    input.inputiRegistracija(type="text", placeholder="Priimek",name="priimek",id="priimek" required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija željeno geslo:
                    input.inputiRegistracija(type="password",placeholder='geslo',name="pwd" id="pwd" required)
                div.wrapperZaVhodneStrani.form-group.has-danger
                    h4.tekstiRegistracija ponovite geslo:
                    input.inputiRegistracija(type="password", placeholder='geslo',name="pwda" id="pwda" required)
                div.wrapperZaGumbe
                    button(type="submit",class="btn btn-primary", value="Registriraj me",id='gumbRegistracija' )  Registriraj me
                
                    
    