extends layout

block content

    script(src='/javascripts/chart.js/dist/Chart.bundle.js')
    script(src='/javascripts/chart.js/dist/Chart.bundle.min.js')

    div(id='statistikaWrapper')
        
        div(id='statistikaChartWrapper')
            canvas(id="myChart")
    
        div.progress(id='statistikaProgressBarWrapper')
            div.progress-bar.bg-info(role='progressbar',style='width:85%;color:white;', aria-valuenow='25', aria-valuemin='0',aria-valuemax='100') privarčevano
        
        div(id='statistikaDodajCiljButtonWrapper')
            button.btn.btn-info(style='width:170px;', onClick='dodajCilj()') Dodaj cilj
        
      div.card(style='float:left;margin-bottom:20px;display:none;', id='ciljBlock')
          h3(style='background-color:#5BC0DE;').card-header Dodajanje cilja
          div.card-body
            form(id='ciljiDodaj',action='/dodajCilj/'+id+'/mesec/'+mesec,method='POST')
              div.form-group(style='float:left;width:100%')
                label.col-form-label(for='inputDefault') Ime cilja
                input.form-control(type='text' id='inputDefault',name='inputDefault')
              div.form-group
              label.sr-only(for='kolicinaCilja') Količina (in euros)
              div.input-group
                div.input-group-addon €
                input.form-control(type='text', id='kolicinaCilja',name='kolicinaCilja', placeholder='')
              div.form-check(style='float:left;width:50%;')
                label.form-check-label
                  p(style='float:left;margin-top:3px;') Mesečni
                  input.form-check-input(type='checkbox',style='float:left;margin-left:10px;',name='checkBoxMesecni') 
              div.form-check(style='float:left;width:50%;')
                label.form-check-label
                  p(style='float:left;margin-top:3px;') Dolgoročni
                  input.form-check-input(type='checkbox',name='checkBoxDolgorocni',style='float:left;margin-left:10px;') 
              div.form-group(style='float:left;width:100%;')
                label.col-form-label(for='datumCiljaOd') Od
                input.form-control(type='date', id='datumCiljaOd',name='datumCiljaOd')
                label.col-form-label(for='datumCiljaDo') Do
                input.form-control(type='date', id='datumCiljaDo',name='datumCiljaDo')
              div(style='float:left;width:100%;text-align:center;')
                button.btn.btn-info(type='submit', style='width:120px;margin-bottom:5px;') Potrdi
        
        div(id='statistikaTableCiljiWrapper')
            table.table.table-striped.table-hover.table-borderless
              thead
                tr.stilTekstaTabele
                  th Cilj
                  th Količina(€)
                  th Privarčevano(€)
              tbody.stilTekstaZaBody
                each varcevanje,i in varcniCiljiMesecni
                  tr(style='text-align:center;color:white;',id=varcevanje._id)
                    td= varcevanje.naziv
                    td= varcevanje.mesecniOdliv
                    td= varcevanje.privarcevano
                each varcevanje,j in varcniCiljiObdobje
                  tr(style='text-align:center;color:white;',id=varcevanje._id)
                    td= varcevanje.naziv
                    td= varcevanje.skupno
                    td= varcevanje.privarcevano
                    
    script(src='/javascripts/funkcijeZaStatistiko.js')  
